html, body {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

label > input,
label > select {
  margin-left: 1rem;
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

main {
  display: grid;
  grid-template-areas:
    "filter graph"
    "filter stats";
  grid-gap: 1rem;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 1fr auto;
  height: calc(100% - 50.4px);
}

.filter,
.graph,
.stats {
  border: 1px solid red;
}

.filter {
  grid-area: filter;
  padding: 0 1rem;
}

.graph canvas {
  width: 100%;
  height: 100%;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}