:root {
  --max-width: 1080px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

nav {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 0 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
}

nav ul li {
  padding: 1rem;
  cursor: pointer;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats .stat {
  padding: 1rem 3rem;
  background-color: aqua;
  margin: 1rem;
  border-radius: 1rem;
  text-align: center;
  flex: 1 1 auto;
}

.stats .stat .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.charts {
  display: flex;
}

.charts .chart {
  /* width: 600px; */
  height: 400px;
  text-align: center;
}

.new-chart {
  width: 30%;
}

.countries-chart {
  width: 70%;
}

.charts canvas {
  width: 100%;
}